.wrapper {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
}

select {
  height: 32px;
  font-size: 18px;
  text-transform: capitalize;
}

.center {
  display: flex;
  justify-content: left;
  align-items: left;
}
